
<html>
    <head>
        <title>Joseph's Questions</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Physics Questions</a> </h1>
        </div>

        <div>
            {% for CalculationQuestion in questions %}
            <div>
                <p>published: {{ CalculationQuestion.published_date }}</p>
                <h1><a href="">{{ CalculationQuestion.title }}</a> </h1>
                <p>{{ CalculationQuestion.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
        </div>

        <div>
            <p>Hi there!</p>
            <p>It works, <strong>fuck</strong> GIT, hahahahah :'( :D</p>
        </div>


    </body>
</html>