
<html>
    <head>
        <title>Joseph's Questions</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Physics Questions</a> </h1>
        </div>

        <div>
            <p>Published 20/11/17 20:14</p>
            <h2><a href="">My first question</a> </h2>
            <p>What is 1+1?</p>
        </div>

        <div>
            <p>Published 20/11/17 20:16</p>
            <h2><a href="">My second question</a> </h2>
            <p>What is 1-1?</p>
        </div>


        <p>Hi there!</p>
        <p>It works :D</p>
    </body>
</html>